.article-content {
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.3375rem;
  margin-top: 10px;
}

.article-content h3 {
  color: #000;
  font-size: 1.1375rem;
}

.article-content p,
.article-content ul,
.article-content ol {
  color: rgb(0 0 0 / 0.9);
  line-height: 1.8;
  font-size: 0.95rem;
  font-weight: 300;
}

.article-content ul,
.article-content ol {
  padding-inline-start: 1.1875rem;
}

.article-content ol ::marker {
  color: var(--primary-color) !important;
}

.article-content ul {
  list-style-type: disc;
}

.article-content ol {
  list-style-type: decimal;
}

.article-content div:has(table) {
  max-width: 100%;
  margin: auto;
}

.article-content table {
  width: 100%;
  border-collapse: revert;
  margin: 1.5rem 0;
  p {
    font-size: 0.875rem;
  }
}

.article-content td,
.article-content th {
  border: 1px solid var(--primary-color);
  padding-block: 10px;
  text-align: center;
}

.article-content th,
.article-content tr:nth-child(1) td {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 900;
  p {
    color: var(--white-color);
  }
}

.article-content blockquote {
  border-left: 4px solid #07f;
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: #555;
}

.article-content pre,
.article-content code {
  background: #f0f0f0;
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  font-family: Consolas, monospace;
  overflow-x: auto;
}

.article-content pre {
  padding: 1rem;
}

.article-content a:not(.contact-box a) {
  color: var(--accent-color);
}

.article-content div:has(table) {
  max-width: 300px;
  overflow-x: auto;
}

@media screen and (min-width: 400px) {
  .article-content div:has(table) {
    max-width: 350px;
  }
}

@media screen and (min-width: 640px) {
  .article-content div:has(table) {
    max-width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .article-content div:has(table) {
    max-width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .article-content div:has(table) {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1280px) {
  .article-content div:has(table) {
    max-width: 750px;
  }
}

@media screen and (min-width: 1536px) {
  .article-content div:has(table) {
    max-width: 870px;
  }
}
