.service-sidebar {
  padding-right: 50px;
  position: sticky;
  top: 20px;
  @media screen and (max-width: 991px) {
    padding-right: 0;
    margin-bottom: 30px;
  }
}
.service-sidebar {
  padding-right: 50px;
  position: sticky;
  top: 20px;
}

.service-categories-list {
  border: 1px solid var(--divider-color);
  border-radius: 40px;
  padding: 30px;
  margin-bottom: 30px;
  @media screen and (max-width: 991px) {
    padding: 20px;
  }
}

.service-categories-list h3 {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 30px;
  @media screen and (max-width: 991px) {
    font-size: 22px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.service-categories-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-categories-list ul li {
  margin-bottom: 20px;
  padding: 0 0 20px 30px;
  border-bottom: 1px solid var(--divider-color);
  position: relative;
  @media screen and (max-width: 991px) {
    margin-bottom: 15px;
    padding: 0 0 15px 25px;
  }
}

.service-categories-list ul li:last-child {
  margin-bottom: 0px;
  padding-bottom: 0;
  border-bottom: none;
}

.service-categories-list ul li:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  background: url("../../images/readmore-arrow.svg") no-repeat center center;
  width: 20px;
  height: 20px;
}
.service-categories-list ul li a {
  display: block;
  color: var(--primary-color);
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}
.service-categories-list ul li a:hover {
  color: var(--accent-color);
}
.tableOfContents ul {
  max-height: 350px;
  overflow-y: auto;
}
