.page-service-single {
  padding: 100px 0;
  @media screen and (max-width: 991) {
    padding: 50px 0;
  }
}
.sidebar-cta-box {
  background-color: var(--primary-color);
  border-radius: 40px;
  padding: 30px;
  text-align: center;
  @media screen and (max-width: 991) {
    padding: 20px;
  }
}
.service-single-content p {
  margin-bottom: 30px;
  @media screen and (max-width: 991) {
    margin-bottom: 20px;
  }
}

.service-single-content p:last-child {
  margin-bottom: 0;
}
.service-images-slider {
  margin-bottom: 30px;
}
.service-images-slider .swiper-arrow-prev,
.service-images-slider .swiper-arrow-next {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

.service-images-slider .swiper-arrow-prev {
  left: 20px;
}

.service-images-slider .swiper-arrow-next {
  right: 20px;
}

.service-images-slider .swiper-arrow-prev:before,
.service-images-slider .swiper-arrow-next:before {
  content: "";
  background: url("../../images/icon-arrow-left.svg") no-repeat center left;
  background-size: 100% auto;
  height: 33px;
  width: 33px;
}

.service-images-slider .swiper-arrow-next:before {
  background: url("../../images/icon-arrow-right.svg") no-repeat center left;
  background-size: 100% auto;
  height: 33px;
  width: 33px;
}
.project-sidebar {
  position: sticky;
  top: 20px;
  margin-top: 10px;
}
.project-info-box {
  border: 1px solid var(--divider-color);
  border-radius: 40px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    padding: 20px;
  }
}
.project-info-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--divider-color);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.project-info-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.project-info-item .icon-box {
  margin-right: 10px;
}

.project-info-item .icon-box img {
  max-width: 40px;
}
